.container {
  background-color: #f2f0ef;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page_title {
  display: flex;
  padding: 0 50px;
  margin: 0;
  width: 100%;

  h1 {
    color: #000;
    margin-bottom: 0;
  }
}
.container .header {
  width: 100%;
  background-color: #1a1a1a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.logos {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
}

.logo_its {
  width: 50px;
  height: 50px;
  margin: 0 10px;
}

.logo_shield {
  width: 60px;
  height: 60px;
  margin-left: 20px;
}

.header .nav {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}


.nav a,
.nav i {
  color: white;
  font-size: 1.10rem;
}

.nav i {
  font-size: var(--h1-font-size);
}

.container .content {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 100px;
  gap: 20px;
  
}

.container .category {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  height: 100%;
  flex: 1;
}

.category .student_info_left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
  width: 50%;
  

}

.student_info_left .student_categorization, 
.student_info_left .student_type {
  flex-direction: row;
  margin: 0 auto;
  width: 350px;
}

.student_type .student_category {
    display: flex;
    gap: 20px;
      div {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
      }

    

      
}

.student_type .student_type_label {
  font-size: var(--normal-font-size);
}

.student_category .radio_label {
  font-size: var(--normal-font-size);
  margin: 0 2px;
  align-items: center;
  vertical-align: middle;
}

.student_category input[type="radio"] {
  margin: 0 !important;
  align-items: center;
}

.category .student_info_right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.student_info_right .enrollment_data{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;

}

.enrollment_data .label {
  margin-bottom: 8px;
  font-size: var(--normal-font-size);
  color: #000;
}

.enrollment_data .input {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  margin-bottom: 8px;
  padding: 8px;
}


.student_info_right .next_button {
  width: 75%;
  margin: 0 auto;
  display: flex;             /* Make it a flex container */
  justify-content: flex-end; /* Align items to the start (left) */
}


.next_button button {
  font-size: var(--normal-font-size);
  height: 35px;
  padding: 0 30px;
  background-color: var(--title-color);
  color: white;
  border: none;
  border-radius: 8px;
}

.next_button button:hover {
  background-color: var(--title-color-dark);
  color: white;
}


.step2_container {
  background-color: #e9e7e7;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 50px 100px;
  gap: 20px;
}

.step2_container .step2_content {
  height: 100%;
}


.step2_container .subject_container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.step2_container .step2_header h2 {
  margin: 0;
}

.step2_container .step2_header p {
  font-size: var(--normal-font-size);
  margin-bottom: 5px;
}

.subject_container .subject_table {
  border-spacing: 20px 2px;
}

.subject_container .add_subject {
  display: flex;
  flex-direction: column;

}

.add_subject .dropdown,
.add_subject .num_units {
  height: 35px;
  border-radius: 8px;
  padding:  0 5px;
  border: 2px solid black;
  outline: none;
  font-size: var(--normal-font-size);
  text-align: center;
  color: black;
}

.add_subject .dropdown {
  width: 300px;
}

.add_subject .num_units {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.subject_container .add_subject_button {
  height: 35px;
  padding: 0 20px;
  background-color: var(--title-color);
  border-radius: 8px;
  color: white;
  border: none;
}

.subject_container .add_subject_button:hover {
  background-color: var(--title-color-dark);
  color: white;
}

.subject_table .remove_button {
  background-color: #e9e7e7;
  border: none;
  color: var(--title-color);
}

.subject_table .remove_button:hover {

  background-color: #e9e7e7;
  color: var(--title-color-dark) !important;
}

.navigate_buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}


.navigate_buttons .button {
  height: 35px;
  padding: 0 30px;
  background-color: var(--title-color);
  color: white;
  border-radius: 8px;

  border: none;
}

.navigate_buttons .button:hover {
  background-color: var(--title-color-dark);
  color: white;
}


.step2_container .navigate_buttons {
  display: flex;             /* Make it a flex container */
  justify-content: flex-end;
  margin-bottom: 10px;
}


.step3_container {
  background-color: #e9e7e7;
  border-radius: 12px;
  width: 100%;
  flex: 1;
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
}

.step3_container .upload_file_section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.step3_container .schedule_section {
  display: flex;
  height: auto;
}

.schedule_section .select_advising_date {
  display: flex;
  width: 550px;
  justify-content: space-between;
  margin-left: 135px;
  align-items: center;
}


.select_advising_date select {
  height: 35px;
  width: 300px;
  border-radius: 8px;
  cursor: pointer;
} 


/****************/

.upload_file_section .upload_button {
  display: inline-block;
  justify-content: center;
  align-items: center;
  background-color: #a6a6a6;
  color: black;
  text-align: center;
  border: none;
  cursor: pointer;
  padding: 15px 40px;
  margin: 0 !important;
}

.upload_button i {
  margin: 0 3px;
  color: black;
}
.hidden_input {
  display: none;
}

.upload_description {
  margin-bottom: 10px;
  color: #333;
}


.step3_container .button_container_section {
  display: flex;
  justify-content: flex-end;
  margin-bottom: -70px;
  margin-right: -50px;
}

.button_container_section .back_button,
.button_container_section .submit_button {
  height: 35px;
  color: white;
  background-color: var(--title-color);
  width: 90px;
  border-radius: 8px;
  margin: 0 5px;
}

.input {
  width: 50%;
  padding: 0 5px;
  border: 2px solid black;
  outline: none;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.student_category_code {
  font-size: var(--normal-font-size);
}

thead tr th {
  color: black;
  font-size: var(--normal-font-size);
}



.section {
  width: 100%; 
  border: 2px dashed #000;
  padding: 15px;
  border-radius: 5px;
  background-color: white; /* Optional: Add a background color */
  
}

.preEnrollment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  margin-top: 20px;
  width: 80%;
  max-width: 1400px;
}

.paragraph {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}
.sectionTitle {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.sectionContent {
  display: grid;
  grid-template-columns: 300px 1fr 1fr;
  grid-template-rows: 125px;
  gap: 10px;
}

.uploadBox {
  display: flex;
  justify-content: center;
  align-items: center;
  
  border-radius: 8px;
  background-color: #a5a4a4;
  cursor: pointer;
  
  img {
    width: 60px;
  }
}


.uploadButton {
  font-size: 5rem; /* Slightly larger */
  color: #333; /* Neutral color */
  background: none;
  border: none;
  cursor: pointer;
}

.uploadButton:hover {
  background-color: none !important;
}


.hiddenInput {
  display: none;
}

.feedback {
  margin: 0 auto;
  overflow-y: auto;
  
  p {
    font-size: var(--normal-font-size);
  }

  p:first-of-type {
    font-weight: bold;
    color: #057008 !important;
  }

  p:nth-of-type(2) {
    font-weight: var(--font-semi-bold);
    font-style: italic;
  }

  p span {
    font-size: var(--normal-font-size);
  }
  
}


.feedbackStatus {
  display: inline-block;
  background-color: #a1e9a1;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 0.9rem;
  font-weight: bold;
}

.recentFiles {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  overflow-y: auto;

    p {
      font-size: var(--normal-font-size);
      text-transform: uppercase;
      font-weight: bold;
      color: #C00202;
    }

  ul li {
    font-size: var(--normal-font-size);
  }
}

.file {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}

.pdfIcon {
  width: 20px;
  height: 20px;
  color: #C00202;
}

.formButtons {
  display: flex;
  gap: 15px;
}

.formButton {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}
